.userpage {
  height: max-content;

  &__wrapper {
    display: flex;
    height: max-content;
  }

  &__divider {
    width: 5%;
  }

  &__userInfo {
    width: 40%;
    margin: 0 auto;

    &-header {
      margin-bottom: 15px;
      display: flex;
      justify-content: space-between;
      align-items: center;

      > h3 {
        margin: 0;
      }

      > button {
        margin: 0;
      }
    }

    > form {
      .with-label {
        height: inherit;
        margin-top: 0;
      }

      > .flexed {
        display: flex;
        align-items: center;
        margin-top: 1em;

        > .avatar-upload {
          cursor: pointer;
          margin: 5px 5px 5px 10px;
          padding: 5px;
          border-radius: 5px;
          border: 1px solid #e3e3e3;
          height: 100%;
        }
      }
    }

    .with-label {
      width: 100% !important;

      .input-container {
        width: 100%;
      }
    }

    .with-label + .with-label {
      margin-top: 1em;
    }

    &-country {
      display: inline-flex;
      align-items: center;
      user-select: none;
      white-space: nowrap;
      position: relative;
      cursor: pointer;
      max-width: 90vw;
      overflow: hidden;
      transition: border 150ms ease-in 0s, color 200ms ease-out 0s, box-shadow 200ms ease 0s;
      border: 1px solid #eaeaea;
      border-radius: 5px;
      background-color: #fff;
      --select-font-size: calc(0.875 * 16px);
      --select-height: calc(2.25 * 16px);
      min-width: 11.5em;
      width: 100%;
      height: var(--select-height);
      padding: 0 calc(0.334 * 16px) 0 calc(0.667 * 16px);
      margin: 0 0 0 0;

      &-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;

        > div {
          flex: 1;
        }

        > div + div {
          margin-left: 5px;
        }
      }
    }

    &_country:hover {
      border-color: #000;
    }

    &-socials {
      input {
        width: 100%;
      }

      &-single {
        display: flex;
        justify-content: center;
      }

      &-multi {
        display: flex;
        align-items: center;
        justify-content: space-between;
        margin-top: 0.5em;
      }
    }

    &_submit {
      display: flex;
      align-items: center;
      justify-content: space-between;
      padding: 10px;
      display: flex;
      justify-content: center;
      margin-top: 1em;
    }
  }
}

@media (max-width: 1340px) {
  .userpage__userInfo_submit {
    > p {
      font-size: 0.8em;
    }
  }
}

@media (max-width: 1240px) {
  .userpage__userInfo_submit {
    > p {
      font-size: 0.7em;
    }
  }
}

@media (max-width: 1195px) {
  .userpage__userInfo_submit {
    > p {
      font-size: 0.6em;
    }
  }
}

@media (max-width: 1145px) {
  .userpage__userInfo_submit {
    > p {
      font-size: 0.5em;
    }
  }
}
